* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Body {
        background-image: url(OIPA.webp);
    display: block;
    margin: auto;
    width: 15%;
    padding: 150px 0;
}
header {
    padding-left: 55px;
}


form {
    padding-top: 30px;
        width: 150%;
}
tr {
    line-height: 25px;
    font-size: 18px;
    font-family: Georgia, Times, 'Times New Roman', serif;

}

label {
    padding-left: 5px;
}

input {
    width: 150%;
    border-radius: 5px;
    padding-left: 10px;
        height: 25px;
}


textarea {
    padding-left: 10px;
    padding-right: 5%;
}



.textarea:hover {
    min-height: 100px;

    min-width: 100px;
}


.submit input {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    padding-left: 0 !important;

}

.submit td {
    padding-left: 80px;
    line-height: 50px;
}
.submit input:hover {
color: red;

}

 @media (max-width: 768px) {
    body {
        background-color: papayawhip;
        background-image: none;
        width: 90%;
        margin: 0 auto; 
      
    }

    header {
        padding-right: 0px;
        width: 100%;
    }

    main {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: red;
        width: 100%;
        padding: 40px 50px;
        border-radius: 20px;
        height: auto;
        margin: 0 auto;
    }

    input {
        max-width: 250px;
        margin: 10px 0;
    }
    form{
        padding-left: 30px;
    }
}






