* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    flex-wrap: wrap;
    /* background-color: hsl(185, 75%, 39%); */
    background-image: url(EMPIRE/0objwK.jpg);
    justify-content: center;
    margin-top: 100px;
    margin-left: 150px;
}

main {
    display: flex;
    width: 80%;
    position: absolute;
}

.left {
    overflow: hidden;
    height: 60vh;
    width: 30%;
}

section {
    border-radius: 6%;
    background: url(EMPIRE/OIP.webp);
}

figure {
    text-align: center;
    border-radius: 6%;
    margin-top: -115px;
}

.top {
    background-image: url(EMPIRE/OIP2.webp);
    height: 20vh;
}

.name {
    text-align: center;
    padding-top: 15%;
}

img {
    width: 30%;
    border-radius: 50%;
    height: 20vh;
}



a {
    text-decoration: none;
    color: black;

}

a:hover {
    text-decoration: underline;
    color: red;
}

article {
    margin: auto;
    width: 70%;
    padding-left: 100px;
    line-height: 25px;
}

ul {
    padding-top: 10px;
}

span {
    color: hsl(185, 75%, 39%);
}

span:hover {
    text-decoration: underline;
    color: red;
}

h4 {
    color: re
}

p {
    padding-top: 10px;
}

ul {
    padding-top: 10px;
}
footer {
display: flex;
justify-content: center;
gap: 50px;
}
a img{
    width: 2.3rem;
    padding-bottom: 150%;
}
.container{
    display: flex;
    justify-content: space-between;
}
.clock{
    border: 1px solid #606060;
    color: white;
    padding: 3px;
    border-radius: 10px;
    background-color: #222222;
}
.date{
    font-size: 12px;
    text-align: center;
}
.clock ul{
    display: flex;
    list-style: none;
    font-size: 15px;
    gap: 6px;
    justify-content: center;
}

@media (max-width: 768px) {
    *{
margin: 0;
padding: 0;
        box-sizing: border-box;
    }
    
    body {
        flex-wrap: wrap;
        margin: auto;
        padding: 50px 20px;
        flex-direction: column;
        align-items: center;
    }

    main {
        flex-direction: column;
        width: 100%;
        padding-right: 10%;
    }

    .left,
    article {
        width: 100%;
        max-width: 100%;
    }

    img {
        width: 120px;
        height: 100px;
    }


    article {
        padding: 15px;
    }

    footer {
        align-items: center;
        gap: 10px;
        padding-top: 10%;
    }
   
      .container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .clock {
        width: 100%;
        max-width: 300px;
        font-size: 16px;
        padding: 10px;
        text-align: center;
    }

    .date {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .clock ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 5px;
        font-size: 24px;
    }

    .clock li {
        display: inline-block;
    }

}




