





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 30px;
     background-color: hsl(185, 75%, 39%); 
    background-image: url(EMPIRE/0objwK.jpg);
}
header{
        margin-top: 80px;

}
 ul {
    display: flex;
    justify-content: space-around;
    gap: 30%;
}
.high li{
    display: flex;
}
li a{
    text-decoration: none;
    color: red;
}
li a:hover{
    color: hsl(185, 75%, 39%); 
font-size: 20px;
text-decoration: underline;
}

main{
    margin: 50px;
    margin-left: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
height: auto;
width: 80%;
     border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

img {
    width: 30%;
    border-radius: 50%;
    height: 15vh;
}

section {
    border-radius: 6%;
    background: url(EMPIRE/OIP.webp);
    margin: 20px;
    overflow: hidden;
 
  
}


.top {
    background-image: url(EMPIRE/OIP2.webp);
        height: 20vh;

} 

figure {
    border-radius: 6%;
    margin-top: -55px;
}

.left{
    text-align: center;
}


 a img {
    width: 3rem;
}

article {
    justify-content: center;
    align-items: center;
    display: grid;
       line-height: 20px;
       

}
.right{
      max-width: 650px; 
        padding-left: 50px;
        
}
.rightdown{
    display: block;
}




.container{
    display: flex;
    justify-content: space-between;
}
.clock{
    border: 1px solid #606060;
    color: white;
    padding: 3px;
    border-radius: 10px;
    background-color: #222222;
}
.date{
    font-size: 12px;
    text-align: center;
}
.clock ul{
    display: flex;
    list-style: none;
    font-size: 15px;
    gap: 6px;
    justify-content: center;
}



@media (max-width: 768px) {
    body {
        margin: 10px;
    }

    header {
        margin-top: 20px;
    }



li a{
    text-decoration: none;
    
    
} 
li a:hover{
    color: hsl(185, 75%, 39%); 
font-size: 20px;
text-decoration: underline;

}


    main {
        flex-direction: column;
         width: 100%;
        margin: auto;
        padding-top: 15px;
            box-shadow: none;

    }

    section {
        width: 90%;
        margin: auto;
    }

     img {
        width: 120px;
        height: 100px;
    }

    .right {
        width: 100%;
        margin: auto;
        padding: 20px;
    }

  
      .container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .clock {
        width: 100%;
        max-width: 300px;
        font-size: 16px;
        padding: 10px;
        text-align: center;
    }

    .date {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .clock ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display:block;
        justify-content: center;
        gap: 5px;
        font-size: 24px;
    }

    .clock li {
        display: inline-block;
    }

}





